@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Smart Bites is a site where you can read reviews of various restaurants and also leave your own reviews.</p>
