@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h5>Email us your feedback:</h5>
<address>
    <a href="mailto:support@smartbites.com">support@smartbites.com</a>
</address>