@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<h6 class="d-inline-block">Email us your feedback: </h6>
<a href="mailto:support@smartbites.com"><h6 class="d-inline-block">support@smartbites.com</h6></a>